/*
 * Dropit v1.1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* These styles assume you are using ul and li */
.dropit {
    list-style: none;
	padding: 0;
	margin: 15px 0 0;
}
.dropit .dropit-trigger { position: relative; }
.dropit .dropit-submenu {
    position: absolute;
    top: 100%;
    right: 0; /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 110px;
    list-style: none;
	padding: 5px;
	margin: 0;
    height: 110px;
}
.dropit .dropit-open .dropit-submenu { 
    display: block; 
    background-color: #fff;
}
 .dropit .dropit-open .dropit-submenu li {
  display: block;
  padding: 5px;
  margin: 5px 10px;
}
