/* Colors
# Light Gray: Navigation and View Menu background: #f1f4f7
# Gray: Body (Item Actions and Main) background: #dde5f1
# Lilac: Hover or Selected Item: #b8bffc
*/

/* Items Display Grid
# 1 Item per row - Smallest screen size
# 2 Items per row - 550px min width
# 3 Items per row - 758px min width
# 4 Items per row - 1100px min width
*/ 

/* Layouts and Classes for Mobile vs Desktop
# .Sidebar = .logo, .add-button, .view-type
# .Main (Content) = .item-actions, .items

MOBILE

+--------------+
|	 Sidebar   |
|--------------|
|	 Content   |
|			   |	
|			   |
|			   |
+--------------+

DESKTOP

+--------------------------+ 
|	   | 				   |
| Side | Content           |
| bar  | 				   |
| 	   | 				   |
|	   |				   |
|	   |				   |
|	   |				   |
|	   |				   |
|	   |				   |
+--------------------------+

*/

html, body{ 
	overflow-x: hidden; 
}
body {
	font-family: "Quicksand", Helvetica, Arial, sans-serif;
	color:#333333;
}
h1, h2, h3, h4, h5, h6 { font-family: "Quicksand", Helvetica, Arial, sans-serif; 
}
/* UL padding left reset */
ul {
	list-style-type: none;
	padding-left: 0;
}
a {
	text-decoration: none;
	color: #353535;
}
/* GRID */
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}
.container:before,
.container:after {
	content: " ";
	display: table;
}
.container:after {	clear: both; }

/* SMALLEST BROWSER SIZE */
/* Min width of elements is 315 */
body {
	background-color: #dde5f1
}
/* View Type Icons */
/* Note: Add li items are font-size 16px */
.fa {
	font-size: 20px;
}
/* Font sizes for text labels */
li.label {
	font-size: 16px;
}
/* Removing left padding from 1st ul */
.table > li:first-child {
	padding-left: 0;
}
p {
	font-size: 16px;
	margin-top: 6px;
}
p.count {
	font-style: italic;
}
.logo {
	float: left;
}
.site-symbol {
	width: 25px;
	padding: 28px 10px 10px;
}
a.btn {
	color: #fff;
	background-color: #3c88cb;
	border: none;
	text-align: center;
	padding: 15px 20px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
	opacity: .9;
	float: right;
}
.btn.action {
	float: none;
}
/* Hidden Avatar/Account in Mobile */
.account {display:none;}

/* Hidden Search in Mobile */
.search {display:none;}

/* For the View By and Item Action Menus */
.horiz-menu {
	display: block;
	width: 100%;
	min-height: 50px;
	bottom: 0;
	margin: 10px auto;
	background-color: #f1f4f7;
	z-index: 1;
}
.table {
	display: table;
	margin: 0 auto;
}
.view-type li {
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
}
.view-type a {
	opacity: .9;
}
.view-type a:hover {
	opacity: 1;
}
li.action {
	margin: 10px auto;
}
/* Hidden Item Selection Count in Mobile */
.count {display:none;}

.items {
	width: 100%;
}

.content {
	padding: 10px;
	margin: 0 auto;
}

/* 1 Item per row */
.content > img {
	width: 100%;
	height: auto;
}
.content.selected {
	background-color: #b8bffc;
}

/* Couldn't figure out how to apply the hover to the link 
a.item-box {
  display: inline-block;
  width: 90%;
}
a.item-box:hover {
  background-color: #b8bffc;
} */

img.avatar {
	width: 30px;
} 

/* TABLET LAYOUT */
@media (min-width: 600px) {
/* 2 items per row */
.content {
	display: inline-block;
	width: 45%;
	padding: 2.2%;
	margin: 0 auto;
	overflow: hidden;
	}
/* Flatten Items Menu */
li.action {
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	}
} 

@media (min-width: 758px) {
/* 3 items per row */
.content {
	display: inline-block;
	width: 28%;
	padding: 2.4%;
	margin: 0 auto;
	}
} 


/* DESKTOP LAYOUT */
@media (min-width: 992px) {
.sidebar {
	float: left;
	height: 100vh;
	width: 14%;
	display: block;
	position: fixed;
	background-color: #f1f4f7;
	overflow: hidden;
}
.main {
	float: right;
	width: 85%;
	position: relative;
}
.horiz-menu {
	min-width: 0;
	min-height: 0;
	background-color: transparent;
}
.logo {
	float: none;
}
.logo > a {
	text-align: center;
	display: block;
}
img.site-symbol{
	padding: 15px 10px 10px;
	margin: 0 auto;
}
a.btn {
	color: #fff;
	background-color: #3c88cb;
	border: none;
	float: none;
	display: block;
	text-align: center;
	padding: 10px 15px;
	margin: 0 auto;
}
/* View by menu adjustment */
.view-type li {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}
li.filter {
	padding-left: 30px;
}

/* Item action menu adjustments */
li.action {
	display: inline;
	padding: 0 5px;
}
.search-table {
	margin: 0;
	float: right;
}
ul.actions {
	float: right;
}

a.btn:hover {
	opacity: 1;
}
.account { 	
	display: block;
	position: fixed;
	bottom: 0;
	margin: 20px auto;
	width: 14%;
}
p.usage {
	font-size: 14px;
}
.count { display:block; }

p.count {
	margin-top: 16px;
}

.search { display:block; }

.items {
	padding-top: 8px;
}

/* 4 items per row */
.content {
	display: inline-block;
	width: 20%;
	padding: 2.2%;
	padding-bottom: 3px;
	margin: 0 auto;
	}
.content:hover {
	background-color: #b8bffc;
	}
}