* {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
		box-sizing: border-box;
}

html, body{ 
	overflow-x: hidden; 
}
body {
	font-family: "Quicksand", Helvetica, Arial, sans-serif;
	color:#333333;
}
h1, h2, h3, h4, h5, h6 { font-family: "Quicksand", Helvetica, Arial, sans-serif; 
}
p {
	margin: 10px;
}


/* GRID */
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}
.container:before,
.container:after {
	content: " ";
	display: table;
}
.container:after {	clear: both; }
.one-half, 
.one-third, 
.one-fourth {
	width: 96%;
	float: left;
	min-height: 1px;
	margin: 0 2% 10px;
}
.box {
	padding: 10px 15px 15px;
	background: #1a75ac;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
	margin: 0 auto;
}
.box.middle {
	background: #021283;
}
/* Default styles for smallest screen */
	header {
	color: #fff;
	background: #2195db;
	}
	h1 {
		font-size: 26px;
		text-align: center;
	}
	h2 {
		font-size: 20px;
		text-align: center;
	}
	p {
		font-size: 14px;
		text-align: center;
		margin-bottom: 20px;
	}
	a {
		text-decoration: none;
	}
	img {
		width: 100%;
		display: block;
	}
	li {
		list-style-type: none;
	}
	.site-logo {
		width: 35%;
		float: left;
		margin-top: 18px;
	}
	ul.top-right { 
		list-style-type: none; 
		margin-left: -40px;
		float: right;
	}
	li.log-in {
		display: inline;
		float: left;
	}
	li.sign-up{
		display: inline;
		float: left;
	}
	.log-in {
		margin-right: 20px;
		margin-top: 4px;
	}
	.log-in a {
		color: #fff;
		margin-left: 20px;
		font-size: 13px;
	}
	.sign-up a {
		color: #fff;
		margin-left: 10px;
		font-size: 13px;
	}
	.btn {
		border-radius: 2px;
		background-color: #fff;
		color: #2195db;
		width: 90%;
		text-align: center;
		font-weight: bold;
		text-decoration: none;
		padding: 20px 10px;
		margin: auto;
		margin-bottom: 10px;
		display: block;
	}
	.btn-outline {
		padding: 10px 10px 10px 0;
		margin: -8px;
		margin-right: 3px;
		border: 2px solid #FFFFFF;
		border-radius: 2px;
		float: left;
	}
	.macbook {
		margin-top: 20px;
		margin-bottom: -60px;
	}
	.icon {
		display: block;
		width: 20%;
		margin: 0 auto;
	}
	h2.lower-hero {
		font-size: 22px;
		color: #767b82;
		font-style: normal;
		margin: 80px 10px 10px;
		font-weight: lighter;
	}
	p.lower-hero {
		color: #767b82;
		margin-bottom: 40px;
	}
	.benefits {
		color: #767b82;
	}
	.benefit {
		text-align: center;
		font-weight: lighter;
	}
	h3.icon {
		width: 60%;
		margin: 10px auto;
		text-align: center;
		font-size: 18px;
		font-weight: lighter;
	}
	.blue-area {
		color: #fff;
		background-color: #2195db;
		padding-top: 20px;
	} 
	section.pricing {
		padding-bottom: 20px;
	}
	h2.pricing {
		font-size: 22px;
	}
	ul.pricing {
		color: #fff;
		background-color: #2195db;
	}
	h2.tier {
		text-transform: uppercase;
		font-size: 18px;
		font-weight: lighter;
	}
	ul.feature {
		margin-left: 0;
	}
	li.feature {
		display: block;
		text-align: center;
		font-size: 14px;
		margin-left: -40px;
		float: none;
	}
	h2.feature {
		display: block;
		margin-bottom: 0;
		font-weight: lighter;
	}
	.month {
		font-size: 14px;
	}
	.first-block {
		text-align: center;
		color: #767b82;
		font-weight: normal;
	}
	input[type=email], select {
		width: 75%;
		padding: 12px 20px;
		margin-bottom: 10px;
		border: 2px solid #2195db;
		display: inline-block;
		text-align: center;
	}
	input[type=password], select {
		width: 75%;
		padding: 12px 20px;
		margin-bottom: 10px;
		border: 2px solid #2195db;
		display: inline-block;
		text-align: center;
	}
	.btn.cta {
		background-color: #2195db;
		color: #fff;
		width: 67%;
	}
	fieldset {
		border: none;
	}
	footer {
		background-color: #767b82;
		color: #FFFFFF;
		margin-top: 40px;
	}
	.footer-logo {
		width: 40%;
		display: block;
		margin: 10px auto;
	}
	.os {
		width: 60%;
		display: block;
		margin: 20px auto 10px;
		text-align: center;
	}
	.os-icon {
		width: 10%;
		display: inline-block;
	}
	.terms {
		margin: 10px auto;
		text-align: center;
		width: 90%;
		display: inline;
	}
	ul.terms {
		margin: 0 auto;
	}
	li.terms {
		font-size: 12px;
	}
@media (min-width: 500px) {
	.site-logo {
		width: 25%;
	}
	.btn {
		width: 90%;
	}
	.icon {
		width: 15%;
	}
	.images {
		padding-top: 10px;
	}
	.bookmarks {
		padding-top: 10px;
	}
	.footer-logo {
		width: 25%;
		margin-top: 20px;
	}
	.os-icon {
		width: 7%;
	}
} 
@media (min-width: 650px) {
	.container {
		width: 630px;	
	}
	.site-logo {
		width: 20%;
	}
	.macbook {
		width: 70%;
		margin-right: auto;
		margin-left: auto;
	}
	.icon {
		width: 25%;
	}
	input[type=email], select {
		width: 40%;
	}
	input[type=password], select {
		width: 40%;
	}
	.btn.cta {
		width: 40%;
	}
	.one-third {
		width: 29.33333%;
	}
	.footer-logo {
		width: 20%;
	}
	.os-icon {
		width: 5%;
	}
}
@media (min-width: 758px) {
	.container {
		width: 750px;
	}
	ul.container {
		width: auto;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
	.one-half {
		width: 95%;
	}
	.one-third {
		width: 27%;
	}
	.one-fourth {
		width: 21%;
	}
	.site-logo {
		width: 15%;
	}
	.btn {
		width: 80%;
	}
	.btn.sign-up {
		width: 30%;
	}
	header nav ul > li.btn-outline:hover {
	background:#FFFFFF;
	}
	header nav ul > li > a {
		color: #FFFFFF;
		text-decoration: none;
	}
	header nav ul > li.btn-outline:hover > a {
		color: #2195db;
		font-weight: bold;
	}
	p.hero {
		font-size: 16px;
	}
	.btn.sign-up:hover {
		background-color: #021283;
		color: #FFF;
	}
	p.lower-hero {
		font-size: 16px;
	}
	h1 {
		font-size: 40px;
	}
	h2.lower-hero { 
		font-size: 30px;
	}
	.icon {
		width: 30%;
	}
	.box {
		width: 90%;
	}
	a.pricing:hover {
		opacity: 0.8;
	}
	ul.pricing {
		padding-bottom: 20px;
	}
	h2.pricing {
		font-size: 30px;
	}
	input[type=email], select {
		width: 25%;
	}
	input[type=password], select {
		width: 25%;
	}
	.first-block {
		text-align: center;
		color: #2195db;
		float: left;
		width: 50%;
		font-weight: normal;
		background-color: red;
	}
	h3.first-block {
		margin: 0 auto;
	}
	.second-block {
		float: left;
		width: 50%;
		background-color: green;
	}
	.btn.cta {
		width: 27%;
	}
	.footer-logo {
		width: 15%;
	}
	.os-icon {
		width: 4%;
	}
}