html, body{ 
	overflow-x: hidden; 
}
body {
	font-family: "Quicksand", Helvetica, Arial, sans-serif;
	color:#333333;
}
h1, h2, h3, h4, h5, h6 { font-family: "Quicksand", Helvetica, Arial, sans-serif; 
}
p {
	margin: 10px;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #353535;
}
/* GRID */
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}
.container:before,
.container:after {
	content: " ";
	display: table;
}
.container:after {	clear: both; }
.menu {
	background-color: #f1f4f7;
}
.site-symbol {
	width: 15%;
}
.item-actions {
	display: inline;
}
.main {
	background-color: #dde5f1;
}
.content-item {
	width: 90%;
	float: left;
}
.item-box {
	display: inline;
}
.item-box img{
	width: 25%;
}
.item-box p {
	font-size: 12px;
	display: inline;
}