html, body{ 
	overflow-x: hidden; 
}
body {
	font-family: "Quicksand", Helvetica, Arial, sans-serif;
	color:#333333;
}
h1, h2, h3, h4, h5, h6 { font-family: "Quicksand", Helvetica, Arial, sans-serif; 
}
p {
	margin: 10px;
}
/* GRID */
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}
.container:before,
.container:after {
	content: " ";
	display: table;
}
.container:after {	clear: both; }
.one-half, 
.one-third, 
.one-fourth {
	width: 96%;
	float: left;
	position: relative;
	min-height: 1px;
	margin: 0 2% 10px;
}
.top-nav
.btn {
	color: #fff;
	background-color: #3c88cb;
	border: none;
	font-style: normal;
	margin: 40px 20px;
	position: relative;
}